.DS_Store
node_modules
/dist
/sso
/appid

/tests/e2e/reports/
selenium-debug.log
chromedriver.log
geckodriver.log

# local env files
.env.local
.env.*.local
.env
.env-preprod 

# Log files 
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Docker
docker-compose.yml
docker-compose.yaml

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/coverage.data
/coverage

# Lock

package.lock
# yarn.lock